In [2]:
import pandas as pd
import datetime
import numpy as np
from functions_preprocessing_alarms import first_eboxes_preprocess, first_lights_preprocess, big_preprocess_eboxes, big_preprocess_lights
from functions_preprocessing_readings import split_readings, pre_power, pre_power_peak
from functions_preprocessing_meteo import first_meteo_preprocess, meteo_groupby
from functions_joins import join_light_alarms_readings_meteo, join_eboxes_alarms_readings_meteo
from utils import return_monday

In [3]:
pd.options.mode.chained_assignment = None

# Pipleine test:

In [ ]:
municiplality = "canyelles"

meteo = pd.read_csv(f"/home/leibniz/Desktop/IHMAN/meteo_raw_data/meteo_{municiplality}.csv")
lights_alarms = pd.read_csv(f"/home/leibniz/Desktop/IHMAN/raw_data/{municiplality}_lights_alarms.csv")
eboxes_alarms = pd.read_csv(f"/home/leibniz/Desktop/IHMAN/raw_data/{municiplality}_eboxes_alarms.csv")
nodes = pd.read_csv(f"/home/leibniz/Desktop/IHMAN/raw_data/{municiplality}_nodes.csv")
readings = pd.read_csv(f"/home/leibniz/Desktop/IHMAN/raw_data/{municiplality}_readings.csv")

In [18]:
# Prepocess meteorological data:
meteo = first_meteo_preprocess(
    meteo = meteo,
    filter_dates = True,
    date_min = "2018-12-31",
    date_max = "2100-01-01"
)

meteo = meteo_groupby(meteo)

In [19]:
# Readings preprocess:
powerReactive, powerActive, powerReactivePeak, powerActivePeak = split_readings(readings)
display(powerReactive)
powerReactive, powerActive = pre_power(powerReactive, "Reactive"), pre_power(powerActive, "Active")
display(powerReactive)
powerReactivePeak, powerActivePeak = pre_power_peak(powerReactivePeak, "Reactive"), pre_power_peak(powerActivePeak, "Active")

,id,dated,value,reading,component,componentid
1458542,AA000000D44C,2019-01-01 00:00:01,2370000,powerReactive,sum,0
1458543,AA000000D44C,2019-01-01 00:00:01,690000,powerReactive,p1,0
1458544,AA000000D44C,2019-01-01 00:00:01,1030000,powerReactive,p2,0
1458545,AA000000D44C,2019-01-01 00:00:01,650000,powerReactive,p3,0
1458546,AA000000D44C,2019-01-01 00:15:01,2340000,powerReactive,sum,0
...,...,...,...,...,...,...
7292687,AA000001169B,2022-10-06 07:30:01,0,powerReactive,p3,0
7292688,AA000001169B,2022-10-06 07:45:01,0,powerReactive,sum,0
7292689,AA000001169B,2022-10-06 07:45:01,0,powerReactive,p1,0
7292690,AA000001169B,2022-10-06 07:45:01,0,powerReactive,p2,0
7292691,AA000001169B,2022-10-06 07:45:01,0,powerReactive,p3,0

,id,dated,powerReactive_sum,powerReactive_p1,powerReactive_p2,powerReactive_p3
0,AA000000D44C,2018-12-31,1.354618e+06,418489.583333,579010.416667,357100.694444
1,AA000000D44C,2019-01-07,1.411488e+06,457842.261905,567083.333333,387068.452381
2,AA000000D44C,2019-01-14,1.409673e+06,469687.500000,565535.714286,375208.333333
3,AA000000D44C,2019-01-21,1.384539e+06,455744.047619,554776.785714,373675.595238
4,AA000000D44C,2019-01-28,1.376741e+06,443898.809524,549122.023810,384404.761905
...,...,...,...,...,...,...
2162,AA000001169B,2022-09-05,6.023810e+01,51.928571,51.047619,71.095238
2163,AA000001169B,2022-09-12,4.861905e+01,37.547619,49.523810,76.785714
2164,AA000001169B,2022-09-19,5.313522e+01,41.485884,56.748886,68.255572
2165,AA000001169B,2022-09-26,5.760479e+01,40.455090,49.988024,68.910180
2166,AA000001169B,2022-10-03,6.435000e+01,65.550000,58.800000,79.100000

In [20]:
# Alarms preprocess
lights_alarms = first_lights_preprocess(lights_alarms)
eboxes_alarms = first_eboxes_preprocess(eboxes_alarms)

lights_alarms = big_preprocess_lights(lights_alarms)
eboxes_alarms = big_preprocess_eboxes(eboxes_alarms)

AA0000013912
AA0000013926
AA0000013931
AA000001393D
AA000001393E
AA0000016F53
AA000001726C
AA0000017324
AA00000184EB
AA0000018505
AA0000018696
AA0000018697
AA0000018698
AA0000018699
AA00000186B4
AA00000186D0
AA0000018704
AA0000018705
AA0000018706
AA0000018719
AA0000018745
AA0000018765
AA0000018769
AA000001876F
AA000001877F
AA0000018978
AA0000018981
AA00000189AC
AA00000189AD
AA00000189B8
AA00000189B9
AA00000189C6
AA00000189CB
AA00000189E7
AA0000018A0B
AA0000018A38
AA0000018A54
AA0000018A60
AA0000018A6C
AA0000018B4F
AA0000018B5F
AA0000018B99
AA0000018BA7
AA0000018BA8
AA0000018BB7
AA0000018C28
AA0000018C65
AA0000018C9B
AA0000018D53
AA0000018D6A
AA0000018D78
AA0000018D7B
AA0000018D85
AA0000018D87
AA0000018D89
AA0000018D8A
AA0000018D8C
AA0000018D93
AA0000018D9D
AA0000018DA1
AA0000018DA8
AA0000018DAB
AA0000018DB1
AA0000018DBD
AA0000018DD0
AA0000018DD8
AA0000018DDF
AA0000018DE3
AA0000018DEF
AA0000018DF7
AA0000018DFC
AA0000018E0C
AA0000018E10
AA0000018E9D
AA0000018EB4
AA0000018EC0
AA0000018ECB
AA0000018ED0
AA0000018ED2
AA0000018EE1
AA0000018EE2
AA0000018EF0
AA0000018EF2
AA0000018EF4
AA0000018EF9
AA0000018F04
AA0000018F07
AA0000018F0A
AA0000018F0F
AA0000018F17
AA0000018F1F
AA0000018F21
AA0000018F28
AA0000018F2A
AA0000018F31
AA0000018F41
AA0000018F53
AA0000018F78
AA0000018F83
AA0000018F91
AA0000018F95
AA0000018F9B
AA0000018F9C
AA0000018FAC
AA0000018FAD
AA0000018FAE
AA0000018FBB
AA0000018FBC
AA0000018FBD
AA0000018FC1
AA0000018FF0
AA0000019033
AA00000191C1
AA00000191D0
AA00000191F4
AA0000019204
AA0000019252
AA0000019261
AA000001926A
AA000001926D
AA0000019277
AA000001927D
AA00000192DE
AA0000019325
AA0000019329
AA0000019350
AA0000019352
AA0000019356
AA000001935D
AA0000019365
AA000001936A
AA000001937B
AA0000019383
AA0000019387
AA000001938E
AA00000193A8
AA0000019689
AA000001971E
AA000001CEEC
Execution time:115.6778838634491
AA000000D44C
AA0000011276
AA0000011277
AA000001128F
AA0000011290
AA00000112BE
AA00000112CB
AA00000112CD
AA000001167D
AA0000011681
AA000001169B
Execution time:12.534911870956421

In [21]:
# Join alarms, and nodes
lights_alarms_join = pd.merge(lights_alarms, nodes, on="id", how="left")

In [22]:
# You have to run the function join_eboxes_readings_meteo before runing join_light_alarms_readings_meteo
# because this last function modifies the datasets of the readings. In case you run the lights join
# first the code is going to return a Key error.
eboxes_alarms_join = join_eboxes_alarms_readings_meteo(
    eboxes_alarms = eboxes_alarms,
    eboxes_powerReactivePeak = powerReactivePeak,
    eboxes_powerReactive = powerReactive,
    eboxes_powerActive = powerActive,
    eboxes_powerActivePeak = powerActivePeak,
    meteo = meteo
)

lights_alarms_join = join_light_alarms_readings_meteo(
    light_errors = lights_alarms_join,
    eboxes_powerReactivePeak = powerReactivePeak,
    eboxes_powerReactive = powerReactive,
    eboxes_powerActive = powerActive,
    eboxes_powerActivePeak = powerActivePeak,
    meteo = meteo
)

In [23]:
print(len(lights_alarms_join))
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(lights_alarms_join.isna().sum())

25993

id                                   0
week-4                               0
hours_week-4                         0
week-3                               0
hours_week-3                         0
week-2                               0
hours_week-2                         0
week-1                               0
hours_week-1                         0
current_week                         0
hours_current_week                   0
week+1                               0
hours_week+1                         0
week+2                               0
hours_week+2                         0
week+3                               0
hours_week+3                         0
week+4                               0
hours_week+4                         0
type                              2618
ebox_id                           2618
lat                               2618
lon                               2618
ReactivePeak_week-4               4488
ReactivePeak_week-3               4488
ReactivePeak_week-2               4488
ReactivePeak_week-1               4488
ReactivePeak_current_week         4488
powerReactive_sum_week-4          4488
powerReactive_p1_week-4           4488
powerReactive_p2_week-4           4488
powerReactive_p3_week-4           4488
powerReactive_sum_week-3          4488
powerReactive_p1_week-3           4488
powerReactive_p2_week-3           4488
powerReactive_p3_week-3           4488
powerReactive_sum_week-2          4488
powerReactive_p1_week-2           4488
powerReactive_p2_week-2           4488
powerReactive_p3_week-2           4488
powerReactive_sum_week-1          4488
powerReactive_p1_week-1           4488
powerReactive_p2_week-1           4488
powerReactive_p3_week-1           4488
powerReactive_sum_current_week    4488
powerReactive_p1_current_week     4488
powerReactive_p2_current_week     4488
powerReactive_p3_current_week     4488
ActivePeak_week-4                 4488
ActivePeak_week-3                 4488
ActivePeak_week-2                 4488
ActivePeak_week-1                 4488
ActivePeak_current_week           4488
powerActive_sum_week-4            4488
powerActive_p1_week-4             4488
powerActive_p2_week-4             4488
powerActive_p3_week-4             4488
powerActive_sum_week-3            4488
powerActive_p1_week-3             4488
powerActive_p2_week-3             4488
powerActive_p3_week-3             4488
powerActive_sum_week-2            4488
powerActive_p1_week-2             4488
powerActive_p2_week-2             4488
powerActive_p3_week-2             4488
powerActive_sum_week-1            4488
powerActive_p1_week-1             4488
powerActive_p2_week-1             4488
powerActive_p3_week-1             4488
powerActive_sum_current_week      4488
powerActive_p1_current_week       4488
powerActive_p2_current_week       4488
powerActive_p3_current_week       4488
Temp_max_max_week-4                  0
Temp_avg_avg_week-4                  0
Temp_avg_std_week-4                  0
Temp_min_min_week-4                  0
Dew_max_max_week-4                   0
Dew_avg_avg_week-4                   0
Dew_avg_std_week-4                   0
Dew_min_min_week-4                   0
Hum_max_max_week-4                   0
Hum_avg_avg_week-4                   0
Hum_avg_std_week-4                   0
Hum_min_min_week-4                   0
Wind_max_max_week-4                  0
Wind_avg_avg_week-4                  0
Wind_avg_std_week-4                  0
Wind_min_min_week-4                  0
Pres_max_max_week-4                  0
Pres_avg_avg_week-4                  0
Pres_avg_std_week-4                  0
Pres_min_min_week-4                  0
Precipitation_avg_week-4             0
Precipitation_sum_week-4             0
Temp_max_max_week-3                  0
Temp_avg_avg_week-3                  0
Temp_avg_std_week-3                  0
Temp_min_min_week-3                  0
Dew_max_max_week-3                   0
Dew_avg_avg_week-3                   0
Dew_avg_std_week-3                   0
Dew_min_min_week-3                   0
Hum_max_max_week-3                   0
Hum_avg_avg_week-3                   0
Hum_avg_std_week-3                   0
Hum_min_min_week-3                   0
Wind_max_max_week-3                  0
Wind_avg_avg_week-3                  0
Wind_avg_std_week-3                  0
Wind_min_min_week-3                  0
Pres_max_max_week-3                  0
Pres_avg_avg_week-3                  0
Pres_avg_std_week-3                  0
Pres_min_min_week-3                  0
Precipitation_avg_week-3             0
Precipitation_sum_week-3             0
Temp_max_max_week-2                  0
Temp_avg_avg_week-2                  0
Temp_avg_std_week-2                  0
Temp_min_min_week-2                  0
Dew_max_max_week-2                   0
Dew_avg_avg_week-2                   0
Dew_avg_std_week-2                   0
Dew_min_min_week-2                   0
Hum_max_max_week-2                   0
Hum_avg_avg_week-2                   0
Hum_avg_std_week-2                   0
Hum_min_min_week-2                   0
Wind_max_max_week-2                  0
Wind_avg_avg_week-2                  0
Wind_avg_std_week-2                  0
Wind_min_min_week-2                  0
Pres_max_max_week-2                  0
Pres_avg_avg_week-2                  0
Pres_avg_std_week-2                  0
Pres_min_min_week-2                  0
Precipitation_avg_week-2             0
Precipitation_sum_week-2             0
Temp_max_max_week-1                  0
Temp_avg_avg_week-1                  0
Temp_avg_std_week-1                  0
Temp_min_min_week-1                  0
Dew_max_max_week-1                   0
Dew_avg_avg_week-1                   0
Dew_avg_std_week-1                   0
Dew_min_min_week-1                   0
Hum_max_max_week-1                   0
Hum_avg_avg_week-1                   0
Hum_avg_std_week-1                   0
Hum_min_min_week-1                   0
Wind_max_max_week-1                  0
Wind_avg_avg_week-1                  0
Wind_avg_std_week-1                  0
Wind_min_min_week-1                  0
Pres_max_max_week-1                  0
Pres_avg_avg_week-1                  0
Pres_avg_std_week-1                  0
Pres_min_min_week-1                  0
Precipitation_avg_week-1             0
Precipitation_sum_week-1             0
Temp_max_max_current_week            0
Temp_avg_avg_current_week            0
Temp_avg_std_current_week            0
Temp_min_min_current_week            0
Dew_max_max_current_week             0
Dew_avg_avg_current_week             0
Dew_avg_std_current_week             0
Dew_min_min_current_week             0
Hum_max_max_current_week             0
Hum_avg_avg_current_week             0
Hum_avg_std_current_week             0
Hum_min_min_current_week             0
Wind_max_max_current_week            0
Wind_avg_avg_current_week            0
Wind_avg_std_current_week            0
Wind_min_min_current_week            0
Pres_max_max_current_week            0
Pres_avg_avg_current_week            0
Pres_avg_std_current_week            0
Pres_min_min_current_week            0
Precipitation_avg_current_week       0
Precipitation_sum_current_week       0
dtype: int64

In [24]:
print(len(eboxes_alarms_join))
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(eboxes_alarms_join.isna().sum())

2321

id                                  0
week-4                              0
hours_week-4                        0
week-3                              0
hours_week-3                        0
week-2                              0
hours_week-2                        0
week-1                              0
hours_week-1                        0
current_week                        0
hours_current_week                  0
week+1                              0
hours_week+1                        0
week+2                              0
hours_week+2                        0
week+3                              0
hours_week+3                        0
week+4                              0
hours_week+4                        0
ReactivePeak_week-4               176
ReactivePeak_week-3               187
ReactivePeak_week-2               198
ReactivePeak_week-1               209
ReactivePeak_current_week         220
powerReactive_sum_week-4          176
powerReactive_p1_week-4           176
powerReactive_p2_week-4           176
powerReactive_p3_week-4           176
powerReactive_sum_week-3          187
powerReactive_p1_week-3           187
powerReactive_p2_week-3           187
powerReactive_p3_week-3           187
powerReactive_sum_week-2          198
powerReactive_p1_week-2           198
powerReactive_p2_week-2           198
powerReactive_p3_week-2           198
powerReactive_sum_week-1          209
powerReactive_p1_week-1           209
powerReactive_p2_week-1           209
powerReactive_p3_week-1           209
powerReactive_sum_current_week    220
powerReactive_p1_current_week     220
powerReactive_p2_current_week     220
powerReactive_p3_current_week     220
ActivePeak_week-4                 176
ActivePeak_week-3                 187
ActivePeak_week-2                 198
ActivePeak_week-1                 209
ActivePeak_current_week           220
powerActive_sum_week-4            176
powerActive_p1_week-4             176
powerActive_p2_week-4             176
powerActive_p3_week-4             176
powerActive_sum_week-3            187
powerActive_p1_week-3             187
powerActive_p2_week-3             187
powerActive_p3_week-3             187
powerActive_sum_week-2            198
powerActive_p1_week-2             198
powerActive_p2_week-2             198
powerActive_p3_week-2             198
powerActive_sum_week-1            209
powerActive_p1_week-1             209
powerActive_p2_week-1             209
powerActive_p3_week-1             209
powerActive_sum_current_week      220
powerActive_p1_current_week       220
powerActive_p2_current_week       220
powerActive_p3_current_week       220
Temp_max_max_week-4               187
Temp_avg_avg_week-4               187
Temp_avg_std_week-4               187
Temp_min_min_week-4               187
Dew_max_max_week-4                187
Dew_avg_avg_week-4                187
Dew_avg_std_week-4                187
Dew_min_min_week-4                187
Hum_max_max_week-4                187
Hum_avg_avg_week-4                187
Hum_avg_std_week-4                187
Hum_min_min_week-4                187
Wind_max_max_week-4               187
Wind_avg_avg_week-4               187
Wind_avg_std_week-4               187
Wind_min_min_week-4               187
Pres_max_max_week-4               187
Pres_avg_avg_week-4               187
Pres_avg_std_week-4               187
Pres_min_min_week-4               187
Precipitation_avg_week-4          187
Precipitation_sum_week-4          187
Temp_max_max_week-3               198
Temp_avg_avg_week-3               198
Temp_avg_std_week-3               198
Temp_min_min_week-3               198
Dew_max_max_week-3                198
Dew_avg_avg_week-3                198
Dew_avg_std_week-3                198
Dew_min_min_week-3                198
Hum_max_max_week-3                198
Hum_avg_avg_week-3                198
Hum_avg_std_week-3                198
Hum_min_min_week-3                198
Wind_max_max_week-3               198
Wind_avg_avg_week-3               198
Wind_avg_std_week-3               198
Wind_min_min_week-3               198
Pres_max_max_week-3               198
Pres_avg_avg_week-3               198
Pres_avg_std_week-3               198
Pres_min_min_week-3               198
Precipitation_avg_week-3          198
Precipitation_sum_week-3          198
Temp_max_max_week-2               209
Temp_avg_avg_week-2               209
Temp_avg_std_week-2               209
Temp_min_min_week-2               209
Dew_max_max_week-2                209
Dew_avg_avg_week-2                209
Dew_avg_std_week-2                209
Dew_min_min_week-2                209
Hum_max_max_week-2                209
Hum_avg_avg_week-2                209
Hum_avg_std_week-2                209
Hum_min_min_week-2                209
Wind_max_max_week-2               209
Wind_avg_avg_week-2               209
Wind_avg_std_week-2               209
Wind_min_min_week-2               209
Pres_max_max_week-2               209
Pres_avg_avg_week-2               209
Pres_avg_std_week-2               209
Pres_min_min_week-2               209
Precipitation_avg_week-2          209
Precipitation_sum_week-2          209
Temp_max_max_week-1               220
Temp_avg_avg_week-1               220
Temp_avg_std_week-1               220
Temp_min_min_week-1               220
Dew_max_max_week-1                220
Dew_avg_avg_week-1                220
Dew_avg_std_week-1                220
Dew_min_min_week-1                220
Hum_max_max_week-1                220
Hum_avg_avg_week-1                220
Hum_avg_std_week-1                220
Hum_min_min_week-1                220
Wind_max_max_week-1               220
Wind_avg_avg_week-1               220
Wind_avg_std_week-1               220
Wind_min_min_week-1               220
Pres_max_max_week-1               220
Pres_avg_avg_week-1               220
Pres_avg_std_week-1               220
Pres_min_min_week-1               220
Precipitation_avg_week-1          220
Precipitation_sum_week-1          220
Temp_max_max_current_week         231
Temp_avg_avg_current_week         231
Temp_avg_std_current_week         231
Temp_min_min_current_week         231
Dew_max_max_current_week          231
Dew_avg_avg_current_week          231
Dew_avg_std_current_week          231
Dew_min_min_current_week          231
Hum_max_max_current_week          231
Hum_avg_avg_current_week          231
Hum_avg_std_current_week          231
Hum_min_min_current_week          231
Wind_max_max_current_week         231
Wind_avg_avg_current_week         231
Wind_avg_std_current_week         231
Wind_min_min_current_week         231
Pres_max_max_current_week         231
Pres_avg_avg_current_week         231
Pres_avg_std_current_week         231
Pres_min_min_current_week         231
Precipitation_avg_current_week    231
Precipitation_sum_current_week    231
dtype: int64

# Readings spliting to be fit in memory

In [45]:
municipality = "illora"
data_dir = "/home/leibniz/Desktop/IHMAN"

readings_dates = pd.read_csv(f"{data_dir}/raw_data/{municipality}_readings_sorted.csv", usecols=["dated"]).reindex()

In [46]:
readings_dates["dated"] = pd.to_datetime(readings_dates["dated"])
start_date = return_monday(pd.to_datetime(readings_dates["dated"].min()))
end_date = return_monday(pd.to_datetime(readings_dates["dated"].max()) + pd.Timedelta(days=7))
range_dates = pd.date_range(start=start_date, end=end_date, freq="20W")

# Convert to timestamps and add the last date of the dataframe:
range_dates = [pd.Timestamp(return_monday(elem)) for elem in range_dates]
range_dates.append(pd.Timestamp(end_date))

In [47]:
# In this list we will store the indexes that will delimitate the batches:
spliting_indexes = np.array([])
for i in range(len(range_dates) -1):
    
    temp_df = readings_dates.loc[(range_dates[i] <= readings_dates["dated"]) & (readings_dates["dated"] < range_dates[i+1])]
    if len(temp_df) != 0:
        spliting_indexes = np.append(spliting_indexes, temp_df.index[-1])

# Add the index zero:
spliting_indexes = np.insert(spliting_indexes, 0, 0)

In [43]:
range_dates

[Timestamp('2017-07-10 00:00:00'),
 Timestamp('2017-11-27 00:00:00'),
 Timestamp('2018-04-16 00:00:00'),
 Timestamp('2018-09-03 00:00:00'),
 Timestamp('2019-01-21 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-10-28 00:00:00'),
 Timestamp('2020-03-16 00:00:00'),
 Timestamp('2020-08-03 00:00:00'),
 Timestamp('2020-12-21 00:00:00'),
 Timestamp('2021-05-10 00:00:00'),
 Timestamp('2021-09-27 00:00:00'),
 Timestamp('2022-02-14 00:00:00'),
 Timestamp('2022-07-04 00:00:00'),
 Timestamp('2022-11-21 00:00:00'),
 Timestamp('2023-04-10 00:00:00'),
 Timestamp('2023-08-28 00:00:00'),
 Timestamp('2024-01-15 00:00:00'),
 Timestamp('2024-06-03 00:00:00'),
 Timestamp('2024-10-21 00:00:00'),
 Timestamp('2025-03-10 00:00:00'),
 Timestamp('2025-07-28 00:00:00'),
 Timestamp('2025-12-15 00:00:00'),
 Timestamp('2026-05-04 00:00:00'),
 Timestamp('2026-09-21 00:00:00'),
 Timestamp('2027-02-08 00:00:00'),
 Timestamp('2027-06-28 00:00:00'),
 Timestamp('2027-11-15 00:00:00'),
 Timestamp('2028-04-03 00:00:00'),
 Timestamp('2028-08-21 00:00:00'),
 Timestamp('2029-01-08 00:00:00'),
 Timestamp('2029-05-28 00:00:00'),
 Timestamp('2029-10-15 00:00:00'),
 Timestamp('2030-03-04 00:00:00'),
 Timestamp('2030-07-22 00:00:00'),
 Timestamp('2030-12-09 00:00:00'),
 Timestamp('2031-04-28 00:00:00'),
 Timestamp('2031-09-15 00:00:00'),
 Timestamp('2032-02-02 00:00:00'),
 Timestamp('2032-06-21 00:00:00'),
 Timestamp('2032-11-08 00:00:00'),
 Timestamp('2033-03-28 00:00:00'),
 Timestamp('2033-08-15 00:00:00'),
 Timestamp('2034-01-02 00:00:00'),
 Timestamp('2034-05-22 00:00:00'),
 Timestamp('2034-10-09 00:00:00'),
 Timestamp('2035-02-26 00:00:00'),
 Timestamp('2035-07-16 00:00:00'),
 Timestamp('2035-11-26 00:00:00')]

In [41]:
pd.read_csv(
    f"{data_dir}/raw_data/{municipality}_readings_sorted.csv", 
    skiprows = 0, 
    nrows = 276005
)

,id,dated,value,reading,component,componentid
0,AA0000011699,2017-07-12 16:00:01,0,powerActivePeak,sum,0
1,AA0000011699,2017-07-12 17:00:01,0,powerActivePeak,sum,0
2,AA0000011699,2017-07-12 17:43:15,0,powerActivePeak,sum,0
3,AA0000011699,2017-07-12 17:43:15,0,powerReactivePeak,sum,0
4,AA0000011699,2017-07-12 18:00:01,0,powerActivePeak,sum,0
...,...,...,...,...,...,...
276000,AA000000D44F,2017-11-26 23:45:01,655070000,powerReactivePeak,sum,0
276001,AA0000011682,2017-11-26 23:45:01,680000,powerActivePeak,sum,0
276002,AA0000011667,2017-11-26 23:45:01,654590000,powerReactivePeak,sum,0
276003,AA000001169A,2017-11-26 23:45:01,4900000,powerActivePeak,sum,0
276004,AA0000011671,2017-11-26 23:45:01,770000,powerReactivePeak,sum,0

In [42]:
pd.read_csv(
    f"{data_dir}/raw_data/{municipality}_readings_sorted.csv", 
    skiprows = 0, 
    nrows = 276006
)

,id,dated,value,reading,component,componentid
0,AA0000011699,2017-07-12 16:00:01,0,powerActivePeak,sum,0
1,AA0000011699,2017-07-12 17:00:01,0,powerActivePeak,sum,0
2,AA0000011699,2017-07-12 17:43:15,0,powerActivePeak,sum,0
3,AA0000011699,2017-07-12 17:43:15,0,powerReactivePeak,sum,0
4,AA0000011699,2017-07-12 18:00:01,0,powerActivePeak,sum,0
...,...,...,...,...,...,...
276001,AA0000011682,2017-11-26 23:45:01,680000,powerActivePeak,sum,0
276002,AA0000011667,2017-11-26 23:45:01,654590000,powerReactivePeak,sum,0
276003,AA000001169A,2017-11-26 23:45:01,4900000,powerActivePeak,sum,0
276004,AA0000011671,2017-11-26 23:45:01,770000,powerReactivePeak,sum,0
276005,AA000000D450,2017-11-26 23:45:01,810000,powerActivePeak,sum,0

In [39]:
# Concatenated batches will be added to this dataframes:
powerReactive = pd.DataFrame()
powerActive = pd.DataFrame()
powerReactivePeak = pd.DataFrame()
powerActivePeak = pd.DataFrame()

# Name of the columns of the readings df:
readings_column_names = ["id", "dated", "value", "reading", "component", "componentid"]

# Convert to a list to iterate:
spliting_indexes_list = list(spliting_indexes)

# The readings preprocess must be done in batches because the datasets are too massive for some machines. In case that you get a Memory error
# it is a good idea to take make larger the arg range_split_weeks_readings when running the code:
for i in range(len(spliting_indexes_list)-1):

    if i == 0:
        readings = pd.read_csv(
            f"{data_dir}/raw_data/{municipality}_readings_sorted.csv", 
            skiprows = int(spliting_indexes_list[i]), 
            nrows = int(spliting_indexes_list[i+1]-spliting_indexes_list[i])
        )
    else:
        readings = pd.read_csv(
            f"{data_dir}/raw_data/{municipality}_readings_sorted.csv",
            skiprows = int(spliting_indexes_list[i]) + 1, 
            nrows = int(spliting_indexes_list[i+1]-spliting_indexes_list[i]),
            names = readings_column_names
        )
    
    display(readings)

    powerReactive_, powerActive_, powerReactivePeak_, powerActivePeak_ = split_readings(readings)
    powerReactive_, powerActive_ = pre_power(powerReactive_, "Reactive"), pre_power(powerActive_, "Active")
    powerReactivePeak_, powerActivePeak_ = pre_power_peak(powerReactivePeak_, "Reactive"), pre_power_peak(powerActivePeak_, "Active")


    if i == 2:
        break

,id,dated,value,reading,component,componentid
0,AA0000011699,2017-07-12 16:00:01,0,powerActivePeak,sum,0
1,AA0000011699,2017-07-12 17:00:01,0,powerActivePeak,sum,0
2,AA0000011699,2017-07-12 17:43:15,0,powerActivePeak,sum,0
3,AA0000011699,2017-07-12 17:43:15,0,powerReactivePeak,sum,0
4,AA0000011699,2017-07-12 18:00:01,0,powerActivePeak,sum,0
...,...,...,...,...,...,...
276000,AA000000D44F,2017-11-26 23:45:01,655070000,powerReactivePeak,sum,0
276001,AA0000011682,2017-11-26 23:45:01,680000,powerActivePeak,sum,0
276002,AA0000011667,2017-11-26 23:45:01,654590000,powerReactivePeak,sum,0
276003,AA000001169A,2017-11-26 23:45:01,4900000,powerActivePeak,sum,0
276004,AA0000011671,2017-11-26 23:45:01,770000,powerReactivePeak,sum,0

,id,dated,value,reading,component,componentid
0,AA000000D450,2017-11-26 23:45:01,810000,powerActivePeak,sum,0
1,AA00000116A4,2017-11-27 00:00:01,2260000,powerActivePeak,sum,0
2,AA0000011664,2017-11-27 00:00:01,410000,powerActivePeak,sum,0
3,AA000001169D,2017-11-27 00:00:01,654930000,powerReactivePeak,sum,0
4,AA0000011669,2017-11-27 00:00:01,2730000,powerActivePeak,sum,0
...,...,...,...,...,...,...
2356465,AA0000011671,2018-04-15 23:45:01,3150000,powerActive,p1,0
2356466,AA0000011662,2018-04-15 23:45:01,654350000,powerReactivePeak,sum,0
2356467,AA0000011690,2018-04-15 23:45:01,655100000,powerReactivePeak,sum,0
2356468,AA000000D44E,2018-04-15 23:45:01,653970000,powerReactive,sum,0
2356469,AA0000011671,2018-04-15 23:45:01,3260000,powerActive,sum,0

,id,dated,value,reading,component,componentid
0,AA0000011690,2018-04-15 23:45:01,810000,powerActive,sum,0
1,AA000000D450,2018-04-16 00:00:01,780000,powerActive,sum,0
2,AA000000D450,2018-04-16 00:00:01,280000,powerActive,p2,0
3,AA000000D450,2018-04-16 00:00:01,260000,powerActive,p1,0
4,AA0000011664,2018-04-16 00:00:01,70000,powerActive,p1,0
...,...,...,...,...,...,...
3366844,AA000000D44A,2018-09-02 23:45:01,2500000,powerActivePeak,sum,0
3366845,AA0000011667,2018-09-02 23:45:01,560000,powerActive,p1,0
3366846,AA000000D44D,2018-09-02 23:45:01,350000,powerReactive,p3,0
3366847,AA000000D44D,2018-09-02 23:45:01,128,powerReactive,p2,0
3366848,AA000001168F,2018-09-02 23:45:01,0,powerReactive,p3,0

In [31]:
readings_dates.index[-1]

42724531

In [32]:
len(readings_dates)

42724532

In [46]:
range_dates

[datetime.date(2017, 7, 10),
 datetime.date(2017, 11, 27),
 datetime.date(2018, 4, 16),
 datetime.date(2018, 9, 3),
 datetime.date(2019, 1, 21),
 datetime.date(2019, 6, 10),
 datetime.date(2019, 10, 28),
 datetime.date(2020, 3, 16),
 datetime.date(2020, 8, 3),
 datetime.date(2020, 12, 21),
 datetime.date(2021, 5, 10),
 datetime.date(2021, 9, 27),
 datetime.date(2022, 2, 14),
 datetime.date(2022, 7, 4),
 datetime.date(2022, 11, 21),
 datetime.date(2023, 4, 10),
 datetime.date(2023, 8, 28),
 datetime.date(2024, 1, 15),
 datetime.date(2024, 6, 3),
 datetime.date(2024, 10, 21),
 datetime.date(2025, 3, 10),
 datetime.date(2025, 7, 28),
 datetime.date(2025, 12, 15),
 datetime.date(2026, 5, 4),
 datetime.date(2026, 9, 21),
 datetime.date(2027, 2, 8),
 datetime.date(2027, 6, 28),
 datetime.date(2027, 11, 15),
 datetime.date(2028, 4, 3),
 datetime.date(2028, 8, 21),
 datetime.date(2029, 1, 8),
 datetime.date(2029, 5, 28),
 datetime.date(2029, 10, 15),
 datetime.date(2030, 3, 4),
 datetime.date(2030, 7, 22),
 datetime.date(2030, 12, 9),
 datetime.date(2031, 4, 28),
 datetime.date(2031, 9, 15),
 datetime.date(2032, 2, 2),
 datetime.date(2032, 6, 21),
 datetime.date(2032, 11, 8),
 datetime.date(2033, 3, 28),
 datetime.date(2033, 8, 15),
 datetime.date(2034, 1, 2),
 datetime.date(2034, 5, 22),
 datetime.date(2034, 10, 9),
 datetime.date(2035, 2, 26),
 datetime.date(2035, 7, 16)]